[submodule "vim/pack/pack/start/ctrlp"]
	path = vim/pack/default/opt/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/pack/start/molokai"]
	path = vim/pack/default/opt/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/pack/pack/start/nerdcommenter"]
	path = vim/pack/default/opt/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/pack/pack/start/nerdtree"]
	path = vim/pack/default/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/pack/start/rust.vim"]
	path = vim/pack/default/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/pack/pack/start/syntastic"]
	path = vim/pack/default/opt/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/pack/pack/start/vim-airline"]
	path = vim/pack/default/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/pack/start/vim-buffergator"]
	path = vim/pack/default/opt/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "vim/pack/pack/start/vim-monokai"]
	path = vim/pack/default/opt/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "vim/pack/pack/start/vim-numbertoggle"]
	path = vim/pack/default/opt/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "vim/pack/pack/start/vim-airline-themes"]
	path = vim/pack/default/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/default/start/YouCompleteMe"]
	path = vim/pack/default/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "vim/pack/default/opt/vim-lsp"]
	path = vim/pack/default/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/default/opt/async.vim"]
	path = vim/pack/default/opt/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/pack/default/opt/asyncomplete.vim"]
	path = vim/pack/default/opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/pack/default/opt/asyncomplete-lsp.vim"]
	path = vim/pack/default/opt/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "vim/pack/default/opt/vim-codefmt"]
	path = vim/pack/default/opt/vim-codefmt
	url = https://github.com/google/vim-codefmt
[submodule "vim/pack/default/opt/vim-maktaba"]
	path = vim/pack/default/opt/vim-maktaba
	url = https://github.com/google/vim-maktaba
[submodule "vim/pack/default/opt/vim-glaive"]
	path = vim/pack/default/opt/vim-glaive
	url = https://github.com/google/vim-glaive
[submodule "vim/pack/default/opt/vim-autoformat"]
	path = vim/pack/default/opt/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "vim/pack/default/opt/vim-easymotion"]
	path = vim/pack/default/opt/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
